<!DOCTYPE html>
<html>

<head>
	<title>Scelta attori</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
	<div th:replace="~{/fragments/bootstrap :: bootstrap}"></div>
</head>

<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>
	<div th:replace="~{/fragments/logo :: logo}"></div>
	<div class="container pt-5">
	<h1 th:text="'Attori del film ' + ${movie.title}"></h1>
	<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
	
	<ul class="list-group">
		<li class="list-group-item" th:each="actor : ${movie.actors}">
			<span th:text="${actor.name}+' '+${actor.surname}"></span>
			<a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a>
		</li>
	</ul>
	</div>
	<div class="container pt-4">
		
		<strong>Attori che si possono aggiungere:</strong>
		<ul class="list-group pt-2">
			<li class="list-group-item" th:each="actor : ${actorsToAdd}">
				<span th:text="${actor.name}+' '+${actor.surname}"></span>
				<a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}">Aggiungi</a>
			</li>
		</ul>
	<div>
	<div class="pt-3">
		<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button class="btn btn-outline-success" type="button">Fine</button></a>
	</div>
</body>

</html>