<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
	<div th:replace="~{/fragments/bootstrap :: bootstrap}"></div>
</head>

<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>

	<div th:replace="~{/fragments/logo :: logo}"></div>
	<div class="container pt-5">
	<h1 th:text="'Regista per il film ' + ${movie.title}"></h1>
	<div th:if="${artists.isEmpty()}">Non ci sono registi nel sistema</div>
	<ul class="list-group">
		<li class="list-group-item" th:each="artist : ${artists}">
			<a th:href="@{'/admin/setDirectorToMovie/'+ ${artist.id}+'/'+${movie.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Steven Spielberg</a>
		</li>
	</ul>
	</div>
</body>

</html>