<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
</head>

<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>

	<div th:replace="~{/fragments/logo :: logo}"></div>
	<h1>Aggiorna film</h1>
	<div th:if="${movie}">
		
		<div>
			<span th:text="${movie.title}">Up!</span>
			<span th:text="'(' + ${movie.year} + ')'">2000</span>
		</div>
		
		<div th:if="${movie.director}">
			<span>Regista: </span><span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven Spielberg</span>
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica regista</a></span>
			<a th:href="@{'/admin/removeDirectorFromMovie/' + ${movie.director.id} + '/' + ${movie.id}}">Elimina regista</a></span>
		</div>
		
		<div th:unless="${movie.director}">
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungi regista</a>
		</div>

		<div>
			<span>Attori: </span>
			<div th:each="actor: ${movie.actors}">
				<span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span>
			</div>
			<a th:href="@{'/admin/updateActors/' + ${movie.id}}">
				<button type="button">Modifica</button>
			</a>
		</div>
		
		<div>
			<a th:href="@{'/admin/removeMovie/' + ${movie.id}}">
				<button type="button">Elimina Film</button>
			</a>
		</div>
		
		
		<div>
			<span>Recensioni: </span>
			<ul>
				<li th:each="review: ${movie.reviews}">
					
					<div>
						<span th:text="'Autore: ' + ${review.author.name}">User</span>
					</div>
					
					<div>
						<span th:text="'Titolo: ' + ${review.title}">titolo</span>
					</div>
					
					<div>
						<span th:text="'Commento: ' +${review.text}">Commento</span>
					</div>
					
					<div>
						<a th:href="@{'/admin/removeReview/' + ${review.id}}">
							<button type="button">Elimina recensione</button>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div th:unless="${movie}">Film non esistente</div>
	</body>

	</html>