<!DOCTYPE html>
<html>
<head>
	<title>
		SiwMovie - Gestione Artisti
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
	<div th:replace="~{/fragments/bootstrap :: bootstrap}"></div>
</head>
<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>

	<div th:replace="~{/fragments/logo :: logo}"></div>
	<div class="container my-5">
		<div class="p-5 text-center bg-body-tertiary rounded-3">
			<svg class="bi mt-4 mb-4" style="color: var(--bs-indigo);" width="20" height="1"><img height="150px" src="/images/logoMin.png"></svg>
			<h1 class="text-body-emphasis c-item pb-5 pt-2">Gestione Artisti</h1>
			
			<div class="d-inline-flex gap-2 mb-5">
				<a href="/admin/formNewArtist"> <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button"> 
					Inserisci i dati di un artista
				</button></a>
				<a href="/artist"><button class="btn btn-success btn-lg px-4 rounded-pill" type="button">
					Artisti
				</button></a>
			</div>
		</div>
	</div>
	
</body>
</html>



