<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwMovie - Gestione Artisti
		</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<div th:replace="~{/fragments/viewport :: viewport}"></div>
	</head>
<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>

		<div th:replace="~{/fragments/logo :: logo}"></div>
		<h1>Gestione Artisti</h1>
		<div>
			<a href="/admin/formNewArtist">Inserisci i dati di un artista</a>
		</div>
		<div>
			<a href="/artist">Artisti</a>
		</div>
	</body>
</html>