<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Gestione Film
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<div th:replace="~{/fragments/viewport :: viewport}"></div>
</head>

<body>
	<header>
		<div th:replace="~{/fragments/header :: header}"></div>
	</header>

	<div th:replace="~{/fragments/logo :: logo}"></div>
	<h1>Gestione Film</h1>
	<div>
		<a href="/admin/formNewMovie">Inserisci i dati di un film</a>
	</div>
	<div>
		<a href="/admin/manageMovies">Gestisci i film</a>
	</div>
	<div>
		<a href="/formSearchMovies">Cerca film per anno</a>
	</div>
</body>

</html>